.btn{
    -webkit-appearance: none;
}


body, html {
    height: 100%;
  }

.whiteText{
    color: white;
}
.backgroundHero{
    background-image: url(./images/hero-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.heroHead{
    font-size: 50px;
    color: white;
    padding-top: 8%;
}
.heroSub{
    color: white;
    padding-top: 1%;
}

.heroSubNumber{
    font-size: 50px;
    color: white;
    padding-top: 3%;
}

.aboutSection{
    padding-top: 2%;
}

.aboutTitle{
    padding-bottom: 3%;
    font-size: 40px;
}

.testTitle{
    padding-top: 3%;
    font-size: 40px;
}

.aboutUsHead{
    font-size: 33px;
    font-weight: 700;
    padding-top: 7%;
}

.sectionItems{
    padding-bottom: 4%;
    font-size: 20px;
}

.footer{
    margin-top: 1%;
    padding-top: 3%;
    background-color: gray;
    color: white;
}
.address{
    font-size: 9px;
}

.footer{
    background: #152F4F;
    color:white;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  }
/* Service Request */

.serviceBackground{

    padding-top: 3%;
}

/* Contact Us */

.contactUs{
    padding-top: 3%;
}





@media only screen and (max-width: 738px) {
    .happyLogo{
     width: 40%;
    }

    .navbar-brand{
        margin-right: 0px;
    }

    .backgroundHero{
        background-image: url(./images/hero-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70%;
    }
    }

@media only screen and (max-width: 479px) {
    .backgroundHero{
        background-image: url(./images/hero-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45%;
    }
    .heroHead{
        font-size: 30px;
    }
    .heroSub{
        font-size: 20px;
    }
    .heroSubNumber{
        font-size: 20px;
    }
    .navbar .navbar-brand {
        max-width: 74%;
      }
    
      .navbar .navbar-toggler {
        max-width: 20%;
  }
}
  @media only screen and (max-width: 1024px) {
    .backgroundHero{
        background-image: url(./images/hero-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
       
    }
    .heroHead{
        font-size: 30px;
    }
    .heroSub{
        font-size: 20px;
    }
    .heroSubNumber{
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 360px) {
    .backgroundHero{
        background-image: url(./images/hero-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
    }
    .heroHead{
        font-size: 30px;
    }
    .heroSub{
        font-size: 20px;
    }
    .heroSubNumber{
        font-size: 20px;
    }
  }



  @media only screen and (max-width: 320px) {
    .backgroundHero{
        background-image: url(./images/hero-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60%;
    }
    .heroHead{
        font-size: 30px;
    }
    .heroSub{
        font-size: 20px;
    }
    .heroSubNumber{
        font-size: 20px;
    }
  }


  @media only screen and (max-width: 375px) {
    .backgroundHero{
        background-image: url(./images/hero-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40%;
    }
    .heroHead{
        font-size: 30px;
    }
    .heroSub{
        font-size: 20px;
    }
    .heroSubNumber{
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 280px) {
    .backgroundHero{
        background-image: url(./images/hero-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60%;
    }
    .heroHead{
        font-size: 30px;
    }
    .heroSub{
        font-size: 20px;
    }
    .heroSubNumber{
        font-size: 20px;
    }   
}